In [2]:
import pandas as pd
# import dataset from csv file
df = pd.read_csv('tweet_sentiment.csv')
review_df = df[['text', 'airline_sentiment']]
review_df = review_df[review_df['airline_sentiment'] != 'neutral']
review_df = review_df.sample(frac=1) #Shuffle array
print(review_df.shape)

review_df

(60000, 2)

                                                    text airline_sentiment
53867            just can't wait to get my NEW uniform.           positive
43704  Tonight we are finally using our free warwick ...          positive
29571  Trying to get train to London to present to CE...          negative
29439              @CHRISDJMOYLES I feel zombified  haha          negative
55934  @petemc @newvibes   I reckon we need to invent...          positive
...                                                  ...               ...
58489  @markdudlik Dunno... I'm guessing the same as ...          positive
9461   wishing i could get tickets to the Johnny reid...          negative
48144      @SukieBunny thanks! How is the bunny family?           positive
5489   ew snow! but anywho im getting ready to go to ...          negative
35243  @shanedawson my birthday is today! Seriously! ...          positive

[60000 rows x 2 columns]